* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	background-color: #f0f0f0;
	height: 100%;
	margin: 0;
}

.avion {
	width: 100px;
	height: 200px;
	background-image: url('../media/images/Avion.png');
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	background-size: contain; /* Ajusta el tamaño de la imagen para que se ajuste al contenedor */
	background-color: transparent;
	position: absolute;
	bottom: 0; /* Ajusta la posición vertical inicial del avión */
	left: 0; /* Ajusta la posición horizontal inicial del avión */
	animation: volar 10s linear infinite; /* Tiempo de animación */
}

@keyframes volar {
	to {
		transform: translate(
			calc(3vw - 50px),
			calc(10vh + 100%)
		); /* El avión se mueve diagonalmente hacia arriba y hacia la derecha */
		left: calc(
			100vw - 100px
		); /* El avión llega de un margen al otro, considerando el tamaño del avión */
		bottom: calc(
			100vh - 200px
		); /* El avión llega de un margen al otro, considerando el tamaño del avión */
	}
}

/*index.html - main*/
#slogan {
	background-image: url('../media/images/fondo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-shadow: 5px 1px 3px rgb(0, 0, 0);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.grid-container {
	background-color: hsl(205, 45%, 50%);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	padding: 20px;
}

.grid-item {
	text-align: center;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&:hover {
		background-color: rgb(24, 214, 189);
		color: #fff;
		scale: 1.2;
		transition: scale 1s;
	}
}

.grid-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
}

/*sitio completo - barra de títulos*/
header section.titleBar {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
}

header section.titleBar .logo img {
	border: #113f74 1px solid;
	margin: 1rem;
	width: 6rem;
	height: 6rem;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*sitio completo - barra de navegación*/
.navbar {
	background-color: hsl(195, 64%, 34%);
	color: #eff5f5;
	font-size: 18px;
}

.navbar .container-fluid .collapse .navbar-nav {
	margin-top: 1rem;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
	color: rgba(0, 0, 0, 0.945);
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
	background-color: #7bcbf0;
	border-radius: 8px;
	color: rgba(0, 0, 0, 0.945);
}

.navbar .container-fluid .navbar-collapse {
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* footer */
footer {
	background-color: whitesmoke;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin: 1rem 0rem;
	padding: 1rem;
}

footer > div {
	width: 30%;
	margin-bottom: 1rem;
	text-align: center;
}

.googleMap {
	width: 100%;
	height: 50%;
}

footer h4 {
	color: black;
}

footer ul {
	list-style: none;
	line-height: 2.5;
	color: black;
	margin-left: 10px;
	padding: 0;
}

footer ul li a {
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 700px) {
	footer {
		display: block;
	}

	footer > div {
		width: 50%;
		margin: 0 auto;
	}
}
